@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family:'Roboto';
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

:root {
    --base-text-color: black;
    --text-color-100: white; /* Used on nav */
    --blue-grey-200: #E2E8F0;
    --blue-300: #1992D4;
    --orange-400: #FF9701;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', system-ui, Helvetica, sans-serif;;
}

main {
    display: grid;
    grid-template-columns: max-content 1fr;
    height: 100%;
}

li {
    list-style-type: none;
}

svg {
    fill: currentColor;
    width: 1.4rem;
}

/*
*  NAV SECTION
*/

.nav-section {
    background-color: var(--blue-300);
    color: var(--text-color-100);
    grid-column: 1 / 2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-title svg {
    width: 2.5rem;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;  
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav li {
    transition: transform 300ms ease;
}

nav li:hover,
nav li:focus-within {
    transform: scale(1.05);
}

nav li:focus-visible,
nav li a:focus-visible {
    outline: transparent;
}

nav a {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: inherit;
    padding: .2rem;
}

nav a::after {
    content: "";
    background-color: var(--text-color-100);
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -2px;
    transform: scaleX(0);
    transition: transform 300ms ease;
    transform-origin: left;
}

nav a:hover::after,
nav a:focus-within::after {
    transform: scale(1.02);
    transform: scaleX(100%);
}

/*
*  CONTENT SECTION
*/

.control-section {
    color: var(--base-text-color);
}

.content-header {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 1rem 1.5rem;
}

.search-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.search-section svg {
    height: 100%;
    width: 1.5rem;
}

.search-wrapper {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
}

.search-wrapper input {
    background-color: var(--blue-grey-200);
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
}

.search-wrapper input:focus-visible {
    outline-color: inherit;
    outline-width: 2px;
    outline-style: solid;
}

.control-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.control-section .img-wrapper {
    border-radius: 50%;
    height: 2.5rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.control-section .img-wrapper img {
    height: 100%;
    object-fit: cover;
}

@media (hover: hover) and (pointer: fine) {
    .control-section svg:hover {
        animation: shake 500ms;
        animation-iteration-count: infinite;
        animation-delay: 300ms;
        -webkit-animation: shake 500ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 300ms;
    }
}



.control-section .name {
    font-weight: bold;
}


@media only screen and (max-width: 700px) {

    /* Nav section */

    .nav-section {
        padding: 0.6rem;
    }

    .nav-title h1 {
        display: none;
    }

    .nav-section nav ul {
        display: flex;
        align-items: center;
    }

    nav li {
        border-radius: 0.4rem;
    }

    nav li:hover,
    nav li:focus-within {   
        border: 1px solid var(--text-color-100);
        transform: scale(1.2);
    }

    .nav-section nav span {
        display: none;
    }

    .nav-section nav a::after {
        content: none
    }

    /* Control section */

    .content-header {
        padding: 0.6rem;
    }

    .control-section .name {
        display: none;
    }
    
}

@keyframes shake {
    0% { transform: translate(1px, 0) rotate(-2deg); }
    20% { transform: translate(-1px, 0) rotate(2deg); }
    40% { transform: translate(1px, 0) rotate(-2deg); }
    60% { transform: translate(-1px, 0) rotate(2deg); }
    80% { transform: translate(1px, 0) rotate(-2deg); }
    100% { transform: translate(1px, 0) rotate(2deg); }
  }